<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recommendChannels</key>
	<dict>
		<key>头条</key>
		<integer>0</integer>
		<key>娱乐</key>
		<integer>1</integer>
		<key>体育</key>
		<integer>2</integer>
		<key>本地</key>
		<integer>3</integer>
		<key>财经</key>
		<integer>4</integer>
		<key>科技</key>
		<integer>5</integer>
		<key>汽车</key>
		<integer>6</integer>
		<key>段子</key>
		<integer>7</integer>
		<key>时尚</key>
		<integer>8</integer>
		<key>轻松一刻</key>
		<integer>9</integer>
		<key>军事</key>
		<integer>10</integer>
		<key>历史</key>
		<integer>11</integer>
		<key>房产</key>
		<integer>12</integer>
		<key>彩票</key>
		<integer>13</integer>
		<key>游戏</key>
		<integer>14</integer>
		<key>原创</key>
		<integer>15</integer>
	</dict>
	<key>unrecommendChannels</key>
	<dict>
		<key>博客</key>
		<integer>16</integer>
		<key>论坛</key>
		<integer>17</integer>
		<key>社会</key>
		<integer>18</integer>
		<key>电影</key>
		<integer>19</integer>
		<key>NBA</key>
		<integer>20</integer>
		<key>中国足球</key>
		<integer>21</integer>
		<key>国际足球</key>
		<integer>22</integer>
		<key>CBA</key>
		<integer>23</integer>
		<key>跑步</key>
		<integer>24</integer>
		<key>手机</key>
		<integer>25</integer>
		<key>数码</key>
		<integer>26</integer>
		<key>移动互联</key>
		<integer>27</integer>
		<key>家居</key>
		<integer>28</integer>
		<key>旅游</key>
		<integer>29</integer>
		<key>健康</key>
		<integer>30</integer>
		<key>读书</key>
		<integer>31</integer>
		<key>酒香</key>
		<integer>32</integer>
		<key>教育</key>
		<integer>33</integer>
		<key>亲子</key>
		<integer>34</integer>
		<key>葡萄酒</key>
		<integer>35</integer>
		<key>暴雪游戏</key>
		<integer>36</integer>
		<key>情感</key>
		<integer>37</integer>
		<key>财务</key>
		<integer>38</integer>
		<key>值得买</key>
		<integer>39</integer>
	</dict>
</dict>
</plist>
